<%= image_tag "doggerel-blog-logo.png", class: "main_logo" %>


<h2 class="centered_headers">Latest Posts:</h2>


<% @posts.each do |post| %>

<article>
  <h3><%= post.title %></h3>
  <h4>By: <%= link_to post.user, user_posts_path(post.user) %></h4>
  <p><%= simple_format(post.body) %></p>
</article>

<% end %>



<!-- h1>Welcome to Doggerel Blog</h1>

<p>We have <%= @user_count %> users!</p>

<ul>
<% @users.each do |user| %>

  <li><%= link_to user.name, user_posts_path(user) %></li>

<% end %>
</ul> -->
