<div class="container">

  <h1>Edit poem by <%= current_user.name %></h1>

  <div>
    <%= form_for [current_user, @post] do |f| %>
    <p>Title:</p>
    <p><%= f.text_field :title %></p>
    <p>Body:</p>
    <p><%= f.text_area :body, size: "50x20" %></p>
    <%= f.submit "Add Poem", :class => "btn btn-default" %>
    <% end %>
  </div>

</div>
