

<div class="profile_header">
  <%= image_tag @user.photo.url(:square), :class => "profile_pic" %>
  <h2><%= @user.name %>'s posts!</h2>
  <hr>
</div>



<% @posts.each do |post| %>

  <article>
    <h3><%= link_to post.title, user_post_path(@user, post) %></h3>
    <p><%= simple_format(post.body) %></p>
    <p id="count"><%= pluralize(post.votes.count, "upvote") %></p>
    <span id="upvote"><%= link_to 'upvote +1', upvote_post_path(post), method: :post %></span>
  </article>

<% end %>

<p><%= link_to 'Edit profile', edit_user_registration_path %></p>






